<div class="row">
    <div class="col-md-10">
        <strong>All Product List</strong>
    </div>
    <!-- Button trigger modal -->
        <div class="col-md-2">
          <button type="button" class="btn btn-dark" (click)="openModal()" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add New Product
          </button>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{title}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="NewproductForm" (ngSubmit)="onSubmit()">
          <label for="pname" >Product Name</label>
          <input type="text" id="pname" name="product-name" formControlName="name" placeholder="Enter Product Name..">
          <label for="price">Price</label>
          <input type="text" id="price" name="price" formControlName="price"><br/>
          <label for="file">Upload Image</label><br/>
          <input type="file" id="file" alt="Login" src=".." formControlName="photo"/><br/>
          <label for="category">Category</label>
          <select id="categoryId" name="categoryId" formControlName="categoryId" >
            <option value="" disabled>--Please choose category of product--</option>
            <option value="1">Women</option>
            <option value="2">Mens</option>
            <option value="3">Kids</option>
          </select>
          <!-- <input type="submit" value="Submit"> -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
            <button type="submit" class="btn btn-primary" >Save</button>
            <!-- (click)="addItem(newItem.value)" -->
          </div>
        </form>

        </div>
    </div>
  </div>
</div>

<div>
  <!-- <app-show-products [selectedCategory] = "selectedCategory"></app-show-products> -->
  <!-- <app-show-products [selectedCategory] = "selectedCategory"></app-show-products> -->
</div>

<!-- <div class="row gap-3">
  <div class="card show-product" *ngFor="let item of items" style="width: 18rem;" >
    <img src="..." class="card-img-top" alt="..." style="height: 10rem">
    <button class="btn"></button>
    <div class="card-body">
      <p class="card-text">{{item}}</p>
      <span>$</span><br>
      <button class="btn btn-success">UPDATE</button>
    <button class="btn btn-danger">DELETE</button>
    </div>
  </div>
</div> -->


